[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FreeRCT
Name[de]=FreeRCT
Name[es]=FreeRCT
Name[nds]=FreeRCT
Comment=FreeRCT aims to be a free and open source game which captures the look, feel and gameplay of the popular games RollerCoaster Tycoon 1
Comment[de]=FreeRCT ist ein freies und quelloffenes Spiel, das den Stil, das Aussehen und die Spielerfahrung der beliebten Spiele RollerCoaster Tycoon 1 und 2 bereitstellt. and 2.
Comment[es]=FreeRCT es el juego libre y open source que aptura la estética y la jugabilidad de los famosos juegos RollerCoaster Tycoon 1 y 2.
Comment[nds]=FreeRCT is een frejes un quellopen Speel, wat de Aard un dat Utsehen un dat Spölen vun de beleevten Spelen RollerCoaster Tycoon 1 un 2 weergifft.
Exec=/opt/freerct/bin/freerct
Icon=freerct
Categories=StrategyGame;
Terminal=false
