#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	

override_dh_auto_build:
	cmake -DOVERRIDE_VCS=ON -DVERSION_STRING="${DEB_VERSION}" -DCMAKE_INSTALL_PREFIX='/usr' -DUSERDATA_PREFIX='~/.config/freerct' .
	make

override_dh_auto_install:
	mkdir -p ${CURDIR}/debian/freerct/usr/bin
	mkdir -p ${CURDIR}/debian/freerct/usr/share/freerct
	mkdir -p ${CURDIR}/debian/freerct/usr/share/applications
	mkdir -p ${CURDIR}/debian/freerct/usr/share/pixmaps
	cp debian/freerct.desktop ${CURDIR}/debian/freerct/usr/share/applications/
	cp graphics/sprites/logo/logo.png ${CURDIR}/debian/freerct/usr/share/pixmaps/
	cp bin/freerct ${CURDIR}/debian/freerct/usr/bin/
	cp bin/rcd/*.rcd ${CURDIR}/debian/freerct/usr/share/freerct
	cp -r data ${CURDIR}/debian/freerct/usr/share/freerct/data
