ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("images/menubar.png");
	background-repeat: repeat-x;
	background-position: right center;
	text-transform: uppercase;
	font-family: Sans-Serif;
	font-weight: normal;
	display: flex;
	justify-content: left;
	align-items: center;
}

li {
	float: left;
	width: 10%;
	margin: 0 0 0 2%
}

li a {
	display: inline-block;
	color: #eeeeee;
	text-align: center;
	padding: 14px 16px;
	width: 100%;
	text-decoration: none;
}

li a:hover {
	background-color: #003000;
}

.pictorial_link:hover {
	background-color: transparent;
}

.menubar_active {
	background-color: #006000;
}
