ul {
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-image: url("images/menubar.png");
	background-repeat: repeat-x;
	background-position: right center;
	text-transform: uppercase;
	font-family: Sans-Serif;
	font-weight: normal;
	display: flex;
	justify-content: left;
	align-items: center;
	z-index: 100;
}

ul li {
	position: relative;
	float: left;
	width: 180px;
	margin: 0 0 0 10px
}

ul li a, dropbtn {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	width: 100%;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center center;
}

ul li a:hover, .dropdown:hover .dropbtn {
	background-color: var(--green-dark);
}

ul li.dropdown {
	display: inline-block;
}

ul li a .tooltip_bottom, ul li a .tooltip_left, ul li a .tooltip_corner {
	visibility: hidden;
	overflow: visible;
	text-transform: none;
	font-size: 14px;
	padding: 8px;
	background-color: var(--green-medium);
	color: var(--text-light);
	border-radius: 8px;
	text-align: center;
	position: absolute;
	top: 105%;
	left: 50%;
	width: 160px;
	margin-left: -80px;
	opacity: 0;
	transition: opacity 0.5s;
}
ul li a .tooltip_left {
	left: -170%;
	top: 10px;
}
ul li a .tooltip_corner {
	left: -180%;
}

ul li a .tooltip_bottom::after, ul li a .tooltip_corner::after, ul li a .tooltip_left::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent var(--green-medium) transparent;
}
ul li a .tooltip_left::after {
	bottom: 25%;
	left: 105%;
	border-style: solid;
	border-color: transparent transparent transparent var(--green-medium);
}
ul li a .tooltip_corner::after {
	bottom: 70%;
	left: 98%;
	border-style: solid;
	border-color: var(--green-medium) var(--green-medium) transparent transparent;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a:hover {
	background-color: var(--green-dark);
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--green-light);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width: 100%;
	z-index: 200;
}

.dropdown-content a {
	text-align: left;
	display: block;
}

.pictorial_link {
	background-color: transparent;
	z-index: 150;
	position: fixed;
	top: 0;
	width: auto;
	height: 256;
}
.pictorial_link:active { background-color: initial; }

#menubar_top_canvas {
	/* TODO need better image */
	background: url("images/queuepaths.png") repeat-x bottom left;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	filter: grayscale(80%);
}

.menubar_active {
	background-color: var(--green-medium);
}

/* Make the buttons narrower on small screens. This rule must come last to overwrite the ones above. */
@media screen and (max-width: 1440px) {
	ul li { width: 150px }
	.pictorial_link { max-height: 128 }
}
@media screen and (max-width: 1110px) {
	ul li { width: 130px }
	.pictorial_link { max-height: 64 }
}
@media screen and (max-width: 915px) {
	ul li { width: 50px }
	ul li a:hover .tooltip_bottom, li a:hover .tooltip_corner, li a:hover .tooltip_left {
		visibility: visible;
		opacity: 1;
	}
	ul li a, dropbtn { padding: 24px; }
}
