/* General definitions. */

:root {
	--bg-blue:      #add8f6;
	--text-light:   #eeeeee;
	--text-dark:    #001000;
	--green-dark:   #003000;
	--green-medium: #006000;
	--green-light:  #009000;
	--blue-light:   #396878;
	--blue-medium:  #0000f0;
	--blue-dark:    #000b2a;
}

* {
	box-sizing: border-box;
	text-align: justify;
	z-index: 1;
	color: var(--text-dark);
	font-size: 16;
}

body {
	background-color: var(--bg-blue);
}
h1,h2,h3 {
	text-align: center;
	color: var(--green-medium);
	text-shadow: 1px 1px var(--text-dark);
	font-variant: small-caps;
}
h1 { font-size: 26 }
h2 { font-size: 22 }
h3 { font-size: 18 }

strong {
	color: var(--blue-dark);
	font-weight: bold;
}
emp {
	color: var(--blue-dark);
	font-style: oblique;
}

tt, pre code, .codefield, .toc {
	color: var(--text-light);
	background-color: rgba(0, 48, 0, 0.5);
	padding: 1px 4px;
	font-family: monospace;
}
pre code {
	display: block;
	border: 2px inset var(--blue-dark);
	padding-left: 32px;
}

.toc {
	font-family: sans-serif;
	float: right;
	margin: 0px 5% 0px 10%;
	text-align: center;
	border: 5px ridge var(--blue-light);
	width: 20%;
	height: 50%;
}
.toc * {
	color: var(--text-light);
}

.force_justify:after {
	content: '';
	display: inline-block;
	width: 100%;
}

a { position:relative }
a[href*="://"]::after {  /* External links only. */
	content: "\2bb3";
	position: absolute;
	bottom: 25%;
	font-size: 75%;
	text-shadow: 1px 1px var(--text-light);
	font-weight: bold;
}
a:not(.linkified_header):link { color: var(--blue-medium) }
a:not(.linkified_header):visited { color: var(--green-light) }
a:active {
	color: var(--text-light) !important;
	background-color: var(--green-light);
	text-decoration: none;
}

.linkified_header {
	font-size: inherit;
	text-align: inherit;
	text-shadow: inherit;
	text-decoration: inherit;
	font-variant: inherit;
	background-color: inherit;
	color: inherit;
}

table, th, td {
	border: 2px ridge var(--blue-light);
	border-collapse: collapse;
}
table {
	margin-left: auto;
	margin-right: auto;
	max-width: 75em;
}
th, td {
	padding: 8px;
}
th, .table_release {
	font-weight: bold;
	background-color: var(--blue-dark);
	color: var(--text-light);
}
.invalid {
	color: var(--blue-light);
	font-style: italic;
	cursor: not-allowed;
}

/* News page. */

.news {
	border-style: inset;
	border-color: var(--blue-light);
	border-radius: 5px;
	overflow: auto;
	padding: 8px;
}

.news_count {
	font-style: italic;
	font-size: 16;
	text-shadow: none
}

.news_timestamp {
	font-style: italic;
	font-size: 12;
	color: var(--text-dark);
	text-align: right;
	font-weight: lighter;
	font-variant: small-caps;
}

/* Screenshot gallery. */

.screenshot_gallery_image {
	border: 5px ridge var(--blue-light);
	border-radius: 5px;
	margin: 5px;
}

/* Slideshow stuff. */

.slideshow_main {
	float: right;
	margin: 0px 10% 0px 5%;
	width: 45%;
	padding: 0 0 12px 0;
	border: 5px ridge var(--blue-light);
	border-radius: 5px;
}

.slideshow_container {
	max-width: 1000px;
	width: 100%;
	position: relative;
	margin: auto;
}

.slideshow_slide {
	height: 500;
	width: 100%;
	position: absolute;
	top: 0;
}
.slideshow_first_slide {
	position: relative;
}
.slideshow_image {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
	opacity: 0;
	transition: opacity 1.5s;
}

.slideshow_prev, .slideshow_next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 64px 32px;
	margin-top: -10%;
	color: var(--text-light);
	font-weight: bold;
	font-size: 32px;
	border-radius: 0 12px 12px 0;
	user-select: none;
	transition: 0.5s ease;
	opacity: 0.4;
}
.slideshow_next {
	right: 0;
	border-radius: 12px 0 0 12px;
}
.slideshow_prev:hover, .slideshow_next:hover {
	opacity: 0.8;
	background-color: var(--text-dark);
}

.slideshow_text {
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: -36px;
	width: 100%;
	text-align: center;
	border-top: 2px solid var(--blue-light);
}

.slideshow_dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: var(--blue-light);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.5s ease;
}

.slideshow_dot_active, .slideshow_dot:hover {
	background-color: var(--blue-dark);
}
