/* General definitions. */

:root {
	--bg-blue:      #add8f6;
	--text-light:   #eeeeee;
	--text-dark:    #001000;
	--green-dark:   #003000;
	--green-medium: #006000;
	--green-light:  #009000;
	--blue-dark:    #396878;
	--blue-medium:  #0000f0;
	--blue-light:   #000b2a;
}

* {
	box-sizing:border-box;
	text-align: justify;
	z-index: 1;
	color: var(--text-dark);
	font-size: 16;
}

body {
	background-color: var(--bg-blue);
}
h1,h2,h3 {
	text-align: center;
	color: var(--green-medium);
	text-shadow: 1px 1px var(--text-dark);
}
h1 { font-size: 26 }
h2 { font-size: 22 }
h3 { font-size: 18 }
tt {
	color: var(--text-light);
	background-color: rgba(0,48,0,0.5);
	padding: 1px 4px;
}

a { position:relative }
a[href*="://"]::after {
	content: "\2bb3";
	text-shadow: 1px 1px var(--text-light);
	position: absolute;
	bottom: 25%;
	font-size: 75%;
}
a:link { color: var(--blue-medium) }
a:visited { color: var(--green-light) }
a:active {
	color: var(--text-light);
	background-color: var(--green-light);
	text-decoration: none;
}

.linkified_header {
	font-size: inherit;
	text-align: inherit;
	text-shadow: inherit;
	text-decoration: inherit;
	color: inherit;
}

/* News page. */

.news {
	border-style: inset;
	border-color: var(--blue-dark);
	border-radius: 5px;
	overflow: auto;
	padding: 8px;
}

.news_count {
	font-style: italic;
	font-size: 16;
	text-shadow: none
}

.news_timestamp {
	font-style: italic;
	font-size: 12;
	color: var(--text-dark);
	text-align: right;
}

/* Slideshow stuff. */

.slideshow-main {
	float: right;
	margin: 0px 10% 0px 5%;
	width: 45%;
	padding: 0 0 12px 0;
	border: 5px ridge var(--blue-dark);
	border-radius: 5px;
}

.slideshow-container {
	max-width: 1000px;
	width: 100%;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
	text-align: center;
	height: 500;
	width: 100%;
}
.mySlides img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 64px 32px;
	margin-top: -10%;
	color: var(--text-light);
	font-weight: bold;
	font-size: 32px;
	border-radius: 0 12px 12px 0;
	user-select: none;
	transition: 0.5s ease;
	opacity: 0.4;
}
.next {
	right: 0;
	border-radius: 12px 0 0 12px;
}
.prev:hover, .next:hover {
	opacity: 0.8;
	background-color: var(--text-dark);
}

.slideshow_text {
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: -36px;
	width: 100%;
	text-align: center;
	border-top: 2px solid var(--blue-dark);
}

.slideshow_dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: var(--blue-dark);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slideshow_dot_active, .slideshow_dot:hover {
	background-color: var(--blue-light);
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.0s;
	animation-name: fade;
	animation-duration: 1.0s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
} 
