* {
	box-sizing:border-box;
	text-align: justify;
	z-index: 1;
}

body {
	background-color: #add8f6;
}
h1 {
	text-align: center;
}

.slideshow-container {
	max-width: 1000px;
	width: 100%;
	position: relative;
	margin: auto;
}

.mySlides {
	display: none;
	text-align: center;
	height: 500;
	width: 100%;
}
.mySlides img {
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.text {
	color: #dddddd;
	background-color: rgba(0,0,0,0.8);
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.slideshow_dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #396878;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slideshow_dot_active, .slideshow_dot:hover {
	background-color: #000B2A;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.0s;
	animation-name: fade;
	animation-duration: 1.0s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
} 
